### ONE HOT ENCODIGN

In [1]:
import pandas as pd

In [6]:
import numpy as np

In [7]:
df = pd.read_csv("M:\\Deep Learning\\airport.csv")

In [8]:
df.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,year_built,year_tier,Closed,home_link,wikipedia_link,keywords,score
0,26555,VIDP,large_airport,Indira Gandhi International Airport,28.566500,77.103104,777.0,IN-DL,New Delhi,1,VIDP,DEL,NaN,1930.0,1950.0,n,http://www.newdelhiairport.in/,http://en.wikipedia.org/wiki/Indira_Gandhi_Int...,Palam Air Force Station,51475
1,26434,VABB,large_airport,Chhatrapati Shivaji International Airport,19.088699,72.867897,39.0,IN-MM,Mumbai,1,VABB,BOM,NaN,1942.0,1950.0,n,http://www.csia.in/,http://en.wikipedia.org/wiki/Chhatrapati_Shiva...,"Bombay, Sahar International Airport",1014475
2,26618,VOMM,large_airport,Chennai International Airport,12.990005,80.169296,52.0,IN-TN,Chennai,1,VOMM,MAA,NaN,1910.0,1950.0,n,NaN,http://en.wikipedia.org/wiki/Chennai_Internati...,NaN,51150
3,35145,VOBL,large_airport,Kempegowda International Airport,13.197900,77.706299,3000.0,IN-KA,Bangalore,1,VOBL,BLR,NaN,2008.0,2010.0,n,http://www.bengaluruairport.com/home/home.jspx,https://en.wikipedia.org/wiki/Kempegowda_Inter...,NaN,51200
4,26444,VAGO,large_airport,Goa International Airport,15.380800,73.831398,150.0,IN-GA,Vasco da Gama,1,VOGO,GOI,NaN,1955.0,1955.0,n,NaN,http://en.wikipedia.org/wiki/Dabolim_Airport,"Goa Airport, Dabolim Navy Airbase, ________隷怄_...",875

In [9]:
df['type'].value_counts()

type
small_airport     157
medium_airport    101
heliport           41
closed             27
large_airport      11
Name: count, dtype: int64

In [18]:
pd.get_dummies(df, columns=['type'])

,id,ident,name,latitude_deg,longitude_deg,elevation_ft,iso_region,municipality,scheduled_service,gps_code,...,Closed,home_link,wikipedia_link,keywords,score,type_closed,type_heliport,type_large_airport,type_medium_airport,type_small_airport
0,26555,VIDP,Indira Gandhi International Airport,28.566500,77.103104,777.0,IN-DL,New Delhi,1,VIDP,...,n,http://www.newdelhiairport.in/,http://en.wikipedia.org/wiki/Indira_Gandhi_Int...,Palam Air Force Station,51475,False,False,True,False,False
1,26434,VABB,Chhatrapati Shivaji International Airport,19.088699,72.867897,39.0,IN-MM,Mumbai,1,VABB,...,n,http://www.csia.in/,http://en.wikipedia.org/wiki/Chhatrapati_Shiva...,"Bombay, Sahar International Airport",1014475,False,False,True,False,False
2,26618,VOMM,Chennai International Airport,12.990005,80.169296,52.0,IN-TN,Chennai,1,VOMM,...,n,NaN,http://en.wikipedia.org/wiki/Chennai_Internati...,NaN,51150,False,False,True,False,False
3,35145,VOBL,Kempegowda International Airport,13.197900,77.706299,3000.0,IN-KA,Bangalore,1,VOBL,...,n,http://www.bengaluruairport.com/home/home.jspx,https://en.wikipedia.org/wiki/Kempegowda_Inter...,NaN,51200,False,False,True,False,False
4,26444,VAGO,Goa International Airport,15.380800,73.831398,150.0,IN-GA,Vasco da Gama,1,VOGO,...,n,NaN,http://en.wikipedia.org/wiki/Dabolim_Airport,"Goa Airport, Dabolim Navy Airbase, ________隷怄_...",875,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,46625,IN-0062,Shirpur Airport,21.323999,74.956734,NaN,IN-MM,Shirpur,0,NaN,...,n,NaN,NaN,"Shirpur, Dhule",0,False,False,False,False,True
333,46640,IN-0064,Umaria Air Field,23.532514,80.808220,1510.0,IN-MP,Umaria,0,NaN,...,n,NaN,NaN,NaN,0,False,False,False,False,True
334,46561,IN-0038,Upper Tadong Indian Army Helipad,27.306717,88.599650,NaN,IN-SK,Upper Tadong,0,NaN,...,n,NaN,NaN,NaN,0,False,True,False,False,False
335,319166,IN-0101,Vanasthali Airport,26.407627,75.870128,NaN,IN-RJ,Vanasthali,0,NaN,...,n,NaN,NaN,NaN,0,False,False,False,False,True
336,46557,IN-0034,Vijay Nagar Airport,19.884100,73.840567,NaN,IN-MM,Vijay Nagar,0,NaN,...,n,NaN,NaN,NaN,0,False,False,False,False,True

### LABEL ENCODING

In [11]:
df1 = pd.read_csv("M:\\Deep Learning\\Iris.csv")

In [12]:
df1.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
le = LabelEncoder()

In [15]:
df1['Species'] = le.fit_transform(df1['Species'])

In [16]:
df1.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [17]:
df1.tail()

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2